.person {
  align-items: center;
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 0.25em;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  padding: 1em;
}

.blue {
  background-color: hsla(0, 40%, 95%, 1);
}

.pink {
  background-color: hsla(210, 40%, 95%, 1);
}

.info {
  flex-basis: 296px;
}

.name strong {
  font-weight: bold;
}

.footer {
  margin: 1em 0;
}
