.list {
  margin-bottom: 2em;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.age {
  margin-bottom: 0.5em;
}

.empty {
  opacity: 0.4;
}
