.header {
  align-items: center;
  display: flex;
  margin-bottom: 2em;

  img {
    height: 3em;
    margin-right: 1em;
  }

  button {
    margin-left: auto;
  }
}

.link {
  display: flex;
  color: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.heading {
  font-size: 2em;
  font-weight: bold;
}
